<h1>Create Your Triangle!</h1>

<form action="/output">
  <div class="form-group">
    <label for="side_a">Length of 1st side</label>
    <input id="side_a" name="side_a" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side_b">Length of 2nd side</label>
    <input id="side_b" name="side_b" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side_c">Length of 3rd side</label>
    <input id="side_c" name="side_c" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-lg">Go!</button>
</form>
