<!DOCTYPE html>
<html>
  <head>
    <title>Triangle Checker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/style.css'>
  </head>
  <body>
    <div class = "container">
      <div class="panel panel-warning">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
